@import url('https://fonts.googleapis.com/css2? family= Poppins:ital,wght@1,200 & display=swap');

body {
    padding: 0;
    top: 0;
    font-family:'Poppins', sans-serif;
}

.card {
    background-color: #111;
    color: #fff;
}
h1 {
    color: #ff0000;
    display: flex;
    justify-content:center ;
}

button {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
}



